@mixin logo {
  background-image: url(../img/logo.svg);
  background-size: cover;
}


* {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.frontpage-container {
  width: 100%;
  height: 100vh;
  background-color: #FAFAFA;
}


.logo {
  position: relative;
  top: 20%;

  &__img {
    padding-top: 10em;
    width: 20em;
  background-image: url(../img/logo.svg);
  background-size: cover;
  margin: auto;
  }

  &__header {
    text-align: center;
  }
}

.enter {
  position: relative;
  top: 45%;

    &__button {
      border: 2px solid #E0E1E2;
      width: 22em;
      margin: auto;
      height: 4em;
      display: flex;

        &--thinBorder{
        border-top: 0px;
        }
    }

    &__link {
  text-decoration: none;
  width: 100%;
  display: flex;
  color: #000;
    }

    &__header {
      font-size: 1.25em;
       padding-top: 1em;
       padding-left: 1em;
       flex: 0 0 85%;
       text-transform: uppercase;
    }

    &__arrow {
      background-image: url(../img/arrow.svg);
      background-size: cover;
      margin-top: 1em;
      height: 2em;
      width: 2.5em;
      transform: rotate(270deg);
    }
}

.header {
  display: flex;
  width: 100%;
  height: 3em;
  position: relative;

    &__logo {
      @include logo;
      height: 3em;
      width: 6em;
      position: absolute;
      top: 0;
      left: 0.5em;
    }

    &__searchIcon {
      background-image: url(../img/search.svg);
      background-size: cover;
      position: absolute;
      top: 0.35em;
      right: 1em;
      height: 2em;
      width: 3em;
      }
}

.footer {
  width: 100%;
  height: 5em;
  display: flex;

  &__block {
    flex: 1 0 20%;
  }

  &__header {
    font-size: 0.8em;
    padding-left: 1em;
    padding-top: 1em;
}

    &__icon {
        background-size: cover;
        height: 3em;
        width: 4em;

        &--motel {
            mask-image: url(../img/bed.svg);
            -webkit-mask-image: url(../img/bed.svg);
            background-color: #128782;
        }

        &--food {
          mask-image: url(../img/food.svg);
            -webkit-mask-image: url(../img/food.svg);
          background-color: #37608E;
        }

        &--scenic{
          mask-image: url(../img/camera.svg);
            -webkit-mask-image: url(../img/camera.svg);
          background-color: #F66F64;
        }
        &--saved {
          mask-image: url(../img/star.svg);
            -webkit-mask-image: url(../img/star.svg);
          background-color: #fcb148;
        }
    }
}

.hide {
  display: none;
}

#map {
  width: 100%;
  height: 86.75vh;
}
