@mixin logo {
  background-image: url(../img/logo.svg);
  background-size: cover;
}

@mixin mapMarker {
  height: 5em;
  width: 7em;
  background-color: #fff;
  position: absolute;
  top: 0.3em;
}

* {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.frontpage-container {
  width: 100%;
  height: 100vh;
  background-color: #FAFAFA;
}


.logo {
  position: relative;
  top: 20%;

  &__img {
    padding-top: 10em;
    width: 20em;
  background-image: url(../img/logo.svg);
  background-size: cover;
  margin: auto;
  }

  &__header {
    text-align: center;
  }
}

.enter {
  position: relative;
  top: 45%;

    &__button {
      border: 2px solid #E0E1E2;
      width: 22em;
      margin: auto;
      height: 4em;
      display: flex;

        &--thinBorder{
        border-top: 0px;
        }
    }

    &__link {
  text-decoration: none;
  width: 100%;
  display: flex;
  color: #000;
    }

    &__header {
      font-size: 1.25em;
       padding-top: 1em;
       padding-left: 1em;
       flex: 0 0 85%;
       text-transform: uppercase;
    }

    &__arrow {
      background-image: url(../img/arrow.svg);
      background-size: cover;
      margin-top: 1em;
      height: 2em;
      width: 2.5em;
      transform: rotate(270deg);
    }
}

.header {
  display: flex;
  width: 100%;
  height: 3em;
  position: relative;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.47);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.47);
z-index: 999;

    &__logo {
      @include logo;
      height: 3em;
      width: 6em;
      position: absolute;
      top: 0;
      left: 0.5em;
    }

    &__searchIcon {
      background-image: url(../img/search.svg);
      background-size: cover;
      position: absolute;
      top: -0.1em;
      left: 90%;
      height: 2em;
      width: 3em;
                transition: all 0.5s ease-out;

          &--active {
            left: 0%;
            transition: all 0.5s ease-out;
          }

      }

  &__searchBar {
    padding: 0.5em;
    top: 0.5em;
    position: absolute;
    right: 2em;
    width: 50%;
    height: 2em;
       transition: all 0.3s ease-in;

      &--active {
          background-color: #E6E6E6;
           transition: all 0.3s ease-in;
      }
  }
}

.footer {
  width: 100%;
  height: 5em;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.47);
-moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.47);
box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.47);
z-index: 999;

  &__block {
    flex: 1 0 20%;
  }

  &__header {
    font-size: 0.8em;
    padding-left: 1em;
    padding-top: 1em;
}

    &__icon {
        background-size: cover;
        height: 3em;
        width: 4em;

        &--motel {
            mask-image: url(../img/bed.svg);
            -webkit-mask-image: url(../img/bed.svg);
            background-color: #128782;
        }

        &--food {
          mask-image: url(../img/food.svg);
            -webkit-mask-image: url(../img/food.svg);
          background-color: #37608E;
        }

        &--scenic{
          mask-image: url(../img/camera.svg);
            -webkit-mask-image: url(../img/camera.svg);
          background-color: #F66F64;
        }
        &--saved {
          mask-image: url(../img/star.svg);
            -webkit-mask-image: url(../img/star.svg);
          background-color: #fcb148;
        }
    }
}

.mapIcon {
  height: 20em;
  width: 20em;
  border-radius: 20em;
  position: relative;

    &__stalk {
      position: absolute;
      width: 1em;
      height: 4em;
      bottom: -3.5em;
      left: 2.5em;
       border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;

        &--food {
              background: #37608E;
        }

        &--motel {
          background-color: #128782;
        }

        &--scenic {
          background-color: #F66F64;
        }

        &--saved {
            background-color: #fcb148;
        }
    }

    &--food {
      background-color: #37608E;
    }

    &--motel {
      background-color: #128782;
    }

    &--scenic {
      background-color: #F66F64;
    }

    &--saved {
        background-color: #fcb148;
    }

  &__image {
    @include mapMarker;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;


      &--food {
        mask-image: url(../img/food.svg);
        -webkit-mask-image: url(../img/food.svg);
      }


      &--motel {
        mask-image: url(../img/bed.svg);
        -webkit-mask-image: url(../img/bed.svg);
        left: -0.185em;
      }

      &--scenic {
        mask-image: url(../img/camera.svg);
          -webkit-mask-image: url(../img/camera.svg);
          height: 4.6em;
          top: 0.5em;
          width: 6em;
      }

      &--saved {
        mask-image: url(../img/star.svg);
       -webkit-mask-image: url(../img/star.svg);
       left: -0.1em;
      }

  }
}

.hide {
  height: 20em;
  height: 20em;
  display: none;
}

#map {
  width: 100%;
  height: 86.75vh;
}
