@mixin logo {
  background-image: url(../img/logo.svg);
  background-size: cover;
}


* {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.frontpage-container {
  width: 100%;
  height: 100vh;
}


.logo {
  position: relative;
  top: 20%;

  &__img {
    padding-top: 10em;
    width: 20em;
  background-image: url(../img/logo.svg);
  background-size: cover;
  margin: auto;
  }

  &__header {
    text-align: center;
  }
}

.enter {
  position: relative;
  top: 45%;

    &__button {
      border: 1px solid #000;
      width: 22em;
      margin: auto;
      height: 4em;
      display: flex;
    }

    &__link {
  text-decoration: none;
  width: 100%;
  display: flex;
  color: #000;
    }

    &__header {
      font-size: 1.25em;
       padding-top: 1em;
       padding-left: 1em;
       flex: 0 0 88%;
       text-transform: uppercase;
    }

    &__arrow {
      background-image: url(../img/arrow.svg);
      background-size: cover;
      margin-top: 1em;
      height: 2em;
      width: 2.5em;
      transform: rotate(270deg);
    }
}

.header {
  display: flex;
  width: 100%;
  height: 3em;
  border-bottom: 1px solid #000;
  position: relative;

    &__logo {
      @include logo;
      height: 3em;
      width: 6em;
      position: absolute;
      top: 0;
      left: 0.5em;
    }

    &__searchIcon {
      background-image: url(../img/search.svg);
      background-size: cover;
      position: absolute;
      top: 0.35em;
      right: 1em;
      height: 2em;
      width: 3em;
      }

}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 6em;
  border: 1px solid #000;
}

.hide {
  display: none;
}

#map {
  width: 100%;
  height: 90vh;
}
